h1 {
    text-align: center;
}
 div {
    width: 30%;
    margin: 20px auto;
    background: #dedede;
    border-radius: 8px;
   
    img {
        margin: 10px auto;
        border-radius: 50%;
        width: 100px;
    }

    p {
        text-align: center;
    }

}